/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.vertical-timeline-element-content{
  background: #dfdfdf;
  color: rgb(255, 19, 19);
}

.vertical-timeline-element-content{
  border: 1px black;
  box-shadow: '1px 3px 3px rgba(0, 0, 0, 0.5)'
}

html[data-theme='dark'] .vertical-timeline-element-content{
  background: #dfdfdf;
  color: rgb(0, 0, 0);
  box-shadow: '1px 3px 3px rgba(0, 0, 0, 0.5)'
}

html[data-theme='dark'] .vertical-timeline-element-content-arrow{
  border-right: 7px solid #dfdfdf;

}
.vertical-timeline::before {
  background: rgb(85, 85, 85);
 }